

@Html.Partial("Partial/ProductCard")
@Html.Partial("Partial/ProductModalAdd")

<div class="contents flex-row wrap justify-content"></div>


<!-- Button trigger modal -->


<script src=""></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $.ajax("../api/newapi/getAllProduct").done(function(result)
    {      
      
      var template = document.querySelector("template");
      var parent = document.querySelector(".contents");

        result.forEach(function(item)
        {
            var cloned = template.content.cloneNode(true);
            cloned.querySelector(".card .card-title").innerText = item.name;
            cloned.querySelector(".card .card-subtitle").innerText = item.CategoryName;
            cloned.querySelector(".card .card-stocks").innerText = item.stock;
            cloned.querySelector(".card .card-units").innerText = item.units;
            cloned.querySelector(".card .card-status").innerText = item.status;

            
            parent.append(cloned);  

        });
    });
</script>
